@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt</h2>
<h3>Minu kontaktid</h3>


<address>
    <br />
    <img src="~/Images/mage.png" style="width: 40%"/>
    <br />
    <h4>Estonia, Tallinn</h4>
    <h4>Livalaid tee 25</h4>
    <h4>3 korrus</h4>
    <h4>Tallinn, Eesti</h4>
    <br />

    <br />
    <strong title="Phone" style="text-decoration: underline">Telefon: +372 5642 3245</strong>
</address>